* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    border: 1px solid black;
    background-color: white;

    
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.btn {
    background-color: rgb(101, 159, 245);
    border-radius: 5px;
    border-color: transparent;
    justify-content: space-between;


}
.btn-1 {
    width:50px;
    
}
.container {
    background-color: rgb(42, 146, 243);
    height: 600px;
}
.box {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    border-color: transparent;
    margin-bottom: 1rem;
    
}
.container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
}
